<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="header">
        <div class="header_name">
            <a href="/"><h1>Booking.com</h1></a>
        </div>

        <div class="header_links">
            <a href="#"><h4>UZS</h4></a>
            <a href="#"><h4>help</h4></a>
            <a href="">
                <ion-icon name="help-circle-outline"></ion-icon>
            </a>
        </div>
    </div>

</header>



<div th:if="${room} != null" class="container">
    <div class="card" th:each="room : ${room}">
        <h1 th:text="${room.number}"></h1>

    </div>

</div>

</body>
</html>