<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>
<header>
    <div class="header">
        <div class="header_name">
            <a href="http://localhost:8080/auth/admin"><h1>Booking.com</h1></a>
        </div>

        <div class="header_links">
            <a href="#"><h4>UZS</h4></a>
            <a href="#"><h4>help</h4></a>
            <a href="">
                <ion-icon name="help-circle-outline"></ion-icon>
            </a>
        </div>
    </div>

</header>


<div class="center-form">
    <form class="search-form" th:action="@{/super}" method="get">
        <select class="input-select" name="region">
            <option th:each="cityName: ${T(com.example.reservatio.stays.hotel.address.Region).values()}"
                    th:text="${cityName}"
                    th:value="${cityName}"
            ></option>
        </select>

        <input class="input" name="startDate" type="datetime-local">
        <input class="input" name="endDate" type="datetime-local">
        <input class="input" name="roomCount" type="number">
        <button type="submit" class="btn secondary">Search</button>
    </form>
</div>

</main>

<div th:if="${admin} != null" class="container-see-hotel">
    <div class="card-see-hotel" th:each="hotel : ${admin}">
        <h1 th:text="${hotel.name}"></h1>
        <a th:href="@{super/{hotelId}/rooms(hotelId=${hotel.id},startDate=${param.get('startDate')},
        endDate=${param.get('endDate')},roomCount=${param.get('roomCount')})}">
            <button class="btn secondary">See Room</button>
        </a>

        <a th:href="@{super/{hotelId}/update(hotelId=${hotel.id})}">
            <button class="btn secondary">Edit Hotel</button>
        </a>
    </div>

</div>
</body>
</html>