@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #003b95;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px;
}

.header-icon-link {
    margin-top: 10px;
}

.header_links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_links h4 {
    color: aliceblue;
    font-weight: 500;
    margin-top: 10px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

li {
    list-style: none;
}

.register {
    width: 50px;
    padding: 10px 17px;
    margin: 10px 10px 0px 0px;
    background-color: aliceblue;
    color: blue;
    border-radius: 5px;
    border: 2px solid blue;
}

.register:hover {
    color: blue;
    background-color: aliceblue;
    border: 2px solid blue;
}

.register a {
    font-size: medium;
    font-weight: 600;
    line-height: 80px;
}

.sign {
    width: 50px;

    padding: 10px 17px;
    margin: 10px 10px 0px 0px;
    background-color: aliceblue;
    color: blue;
    border-radius: 5px;
    border: 2px solid blue;
}

.section {
    padding: 30px 150px;
    display: flex;
    gap: 60px;
}

.car-container-text{

    margin-left: 28px;
    color: #343030;
    margin-top: 7px;
}


.main {
    padding: 60px 130px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #003b95;
    font-family: Avenir Nex, fantasy;
}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
    font-weight: 400;
    font-size: 30px;
}

.box1-one {
    border: 2px solid white;
    height: 40px;
    width: 12%;
    border-radius: 999px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box1-one:hover {
    background-color: rgba(0, 108, 228, 0.24);

}

.main_section {
    display: flex;
    align-items: center;
    padding: 0 130px;
    transform: translateY(-20px);
}

.boxes {
    width: 300px;
    padding: 8px 25px;
    border: 3px solid #ffb700;
    text-align: center;
    border-radius: 5px;
    background-color: aliceblue;
    height: 42px;
}

.button-search {
    width: 100px;
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    border: 4px solid #ffb700;
    background: #003b95;
    padding: 8px 25px;
    height: 42px;
}

.header_links img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-top: 9px;
}

.header_links ion-icon {
    width: 35px;
    height: 35px;
    color: aliceblue;
}

.header_name h1 {
    font-family: monospace;
}

.button-search {
    background: none;
    border: none;
    color: aliceblue;
    font-size: 20px;
}


element.style {
    padding: 15px;
    width: 200px;
}

.main_section .boxes {
    display: flex;
}

.main_section .hydrated {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.main_section input {
    width: 100%;
    font-size: 17px;
}

.button-search {
    text-align: center;
}


.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-item {
    width: 300px;
    margin: 1rem;
    position: relative;
    border-radius: 8px;
    background: white;
    padding-bottom: 2rem;
    transition: all 0.3s ease;
    box-shadow: 0 20px 40px rgba(87, 84, 84, 0.328);
}

.card-item:hover {
    transform: rotate(1deg);
    box-shadow: 0 20px 40px rgba(16, 14, 14, 0.5);
}

.image {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    position: relative;
    transition: all 0.5s;
    background-size: cover;
    background-position: center center;
}


.content {
    padding: 1rem;
}

.title {
    margin: 1rem 0;
    color: #e65b00;
    font-size: 1.4rem;
}

p {
    font-size: 14px;
    margin-bottom: 2rem;
    font-family: sans-serif;
    color: rgb(124, 133, 141);
}

.button {
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
    background-color: #e65b00;
}

.car-container {
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap:wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.card-car {
    width: 30%;
    height: 410px;
    margin: 20px 0;
    border: 1px solid #aba9a9;
    border-radius: 10px;
    background-color: #dbddde;

}

.user-card{
    width: 30%;
    height: 722px;
    margin: 55px 12px;
    border: 1px solid #aba9a9;
    border-radius: 5px;
    background-color: #f0f3f5;
}


.collapse {
    width: 200px;
}

.collapse p {
    display: none;
    color: black;
    margin-top: 23px;
}


.element-style {
    color: black;
    display: block;
}

.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.input {
    padding: 5px;
    border-radius: 2px;
    height: 35px;
    border: 3px solid #febb02;
}


.input-select {
    padding: 5px;
    border-radius: 2px;
    height: 46px;
    border: 3px solid #febb02;
}

.btn {
    padding: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 46px;
    width: 100px;
}

.secondary {
    background: #006ce4;
    color: white;
}

.search-input {
    border: none;
}


.ionicon {
    width: 25px;
}


.box9 {
    background: #8de02c;
}

.container-see-hotel {
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap:wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.card-see-hotel {
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap:wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;


}


.car-container-img{
    height: 190px;
    width: 305px;
    object-fit: cover;
    margin-top: 25px;
    border-radius: 11px;
}

.home-container-img{
    height: 235px;
    width: 326px;
    object-fit: cover;
    margin-top: 23px;
    border-radius: 11px;
}


.car-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-card-text{
    margin-left: 20px;
    color: #343030;
    margin-top: 7px;
}




.toggleButton{
    background-color: #006ce4;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 13px;
}

.toggleButton-hotel{
    background-color: #006ce4;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 13px;
}

.toggleButton:hover{
    background-color: #003b95;
}


.toggleButton-hotel:hover{
    background-color: #003b95;
}



.hotel-container{
    padding-left: 10%;
    padding-right: 10%;;
}


.hotel-btn-delete {
    padding: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 35px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th{
    background-color: #006ce4;
    color: white;
}

tr:hover{
    background-color: #006ce4;
    color: white;
}

.btn:hover.secondary {
    background: #006ce4;
}


.hotel-btn-delete:hover {
    padding: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 35px;
    background: #febb02;
}




