<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<header>
    <div class="header">
        <div class="header_name">
            <a href="/"><h1>Booking.com</h1></a>
        </div>

        <div class="header_links">
            <a href="#"><h4>UZS</h4></a>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJjLRbv4_WaVJc6mTORuadcHDIqfmU4ysxROsDgDPlSg&s" alt="" />
            <a href="">
                <ion-icon name="help-circle-outline"></ion-icon>
            </a>
            <a href="#"><h4>List your property</h4></a>
            <a class="register" sec:authorize="isAnonymous()" href="/auth/sign-up">Register</a>
            <a class="sign" sec:authorize="isAnonymous()" href="/auth/sign-in">Sign in </a>

            <a class="sign" href="#" sec:authorize="isAuthenticated()"  th:href="@{/auth/user-info}">Your account</a>


        </div>
    </div>

    <section class="section">
        <div class="box1 one">
            <a href="">
                <h3><ion-icon name="bed-outline"></ion-icon> Stays</h3>
            </a>
        </div>
        <div class="box3 one">
            <a href="/car/car-home">
                <h3><ion-icon name="car-sport-outline"></ion-icon> Car rentals</h3>
            </a>
        </div>
        <div class="box4 one">
            <a href="">
                <h3><ion-icon name="fast-food-outline"></ion-icon> Services</h3>
            </a>
        </div>
    </section>
</header>

<!-- end of header -->

<main>
    <div class="main">
        <h1>Find your next stay</h1>
        <h3>Find exclusive Genius rewards in every corner of the world!</h3>
    </div>

    <div class="main_section">
        <div class="box6 boxes">

            <ion-icon name="calendar-outline"></ion-icon>
            <input type="date">
        </div>
        <div class="box7 boxes">
            <ion-icon name="calendar-outline"></ion-icon>
            <input type="date">
        </div>
        <div class="box8 boxes">

            <ion-icon name="person-outline"></ion-icon>
            <input type="number">
        </div>
        <div class="box9">
            <button type="submit" class="button-search" c>
                Search
            </button>

        </div>
    </div>
</main>

<div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci aliquam consequuntur corporis, cum dicta dolores ea eos ex fugit harum minus nostrum quasi quos ratione repudiandae sunt ut!</p>
    </div>
</div>

<footer></footer>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

