<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<header>
    <div class="header">
        <div class="header_name">
            <a href="/"><h1>Booking.com</h1></a>
        </div>

        <div class="header_links">
            <a href="#"><h4>UZS</h4></a>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJjLRbv4_WaVJc6mTORuadcHDIqfmU4ysxROsDgDPlSg&s"
                 alt=""/>
            <a href="" class="header-icon-link">
                <ion-icon name="help-circle-outline"></ion-icon>
            </a>
            <a href="#"><h4>List your property</h4></a>
            <a class="register" sec:authorize="isAnonymous()" href="/auth/sign-up">Register</a>
            <a class="sign" sec:authorize="isAnonymous()" href="/auth/sign-in">Sign in </a>

            <a class="sign" sec:authorize="isAuthenticated()" th:href="@{/auth/user-info}">Your account</a>
            <a class="sign" href="/auth/sign-out" sec:authorize="isAuthenticated()">Log out</a>

        </div>
    </div>

    <section class="section">
        <div class="box1-one">
            <a href="/">
                <h3>
                    <ion-icon name="bed-outline"></ion-icon>
                    Stays
                </h3>
            </a>
        </div>
        <div class="box1-one">
            <a href="/car/car-home">
                <h3>
                    <ion-icon name="car-sport-outline"></ion-icon>
                    Car rentals
                </h3>
            </a>
        </div>
        <div class="box1-one">
            <a href="">
                <h3>
                    <ion-icon name="fast-food-outline"></ion-icon>
                    Services
                </h3>
            </a>
        </div>
    </section>
</header>

<!-- end of header -->

<main>
    <div class="main">
        <h1>Find your next stay</h1>
        <h3 style="color: white">Find exclusive Genius rewards in every corner of the world!</h3>
    </div>

    <div class="center-form">
        <form class="search-form" th:action="@{/hotel-all}" method="get">
            <select class="input-select" name="region">
                <option th:each="cityName: ${T(com.example.reservatio.stays.hotel.address.Region).values()}"
                        th:text="${cityName}"
                        th:value="${cityName}"
                ></option>
            </select>

            <input class="input" name="startDate" type="datetime-local">
            <input class="input" name="endDate" type="datetime-local">
            <input class="input" name="roomCount" type="number">
            <button type="submit" class="btn secondary">Search</button>
        </form>
    </div>

</main>

<div th:if="${hotels} != null" class="container-see-hotel">
    <div class="card-see-hotel" th:each="hotel : ${hotels}">

        <div class="card-img">
            <img th:src="${hotel.image}" alt="img" class="car-container-img" height="100px" width="200px">
        </div>

      <h1 th:text="${hotel.name}" class="hotel-name"></h1>
        <h3 th:text="${hotel.region} " class="hotel-name"></h3>
        <a th:href="@{hotel-all/{hotelId}/rooms(hotelId=${hotel.id},startDate=${param.get('startDate')},
        endDate=${param.get('endDate')},roomCount=${param.get('roomCount')})}">
            <button class="btn secondary hotel-button">See Room</button>
        </a>
    </div>

</div>

<footer></footer>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>



