<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body style="margin: 0 90px">
<header>
    <div class="header">
        <div class="header_name">
            <a href="#"><h1>Booking.com</h1></a>
        </div>

        <div class="header_links">
            <a href="#"><h4>UZS</h4></a>
            <a href="#"><h4>help</h4></a>
            <a href="">
                <ion-icon name="help-circle-outline"></ion-icon>
            </a>

            <a class="sign" href="/">BACK TO HOME</a>
        </div>
    </div>

</header>

    <h1>Created successfully</h1>

</body>
</html>