<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <title>Document</title>
</head>
<style>
    .toggleButton.active ~ p {
        display: block !important;
    }
</style>
<body>
<header>
    <div class="header">
        <div class="header_name">
            <a href="/"><h1>Booking.com</h1></a>
        </div>

        <div class="header_links">
            <a href="#"><h4>UZS</h4></a>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJjLRbv4_WaVJc6mTORuadcHDIqfmU4ysxROsDgDPlSg&s"
                 alt=""/>
            <a href="" class="header-icon-link">
                <ion-icon name="help-circle-outline"></ion-icon>
            </a>
            <a href="#"><h4>List your property</h4></a>
            <a class="register" sec:authorize="isAnonymous()" href="/auth/sign-up">Register</a>
            <a class="sign" sec:authorize="isAnonymous()" href="/auth/sign-in">Sign in </a>

            <a class="sign" href="#" sec:authorize="isAuthenticated()" th:href="@{/auth/user-info}">Your account</a>

        </div>
    </div>

    <section class="section">
        <div class="box1-one">
            <a href="/">
                <h3>
                    <ion-icon name="bed-outline"></ion-icon>
                    Stays
                </h3>
            </a>
        </div>
        <div class="box1-one">
            <a href="/car/car-home">
                <h3>
                    <ion-icon name="car-sport-outline"></ion-icon>
                    Car rentals
                </h3>
            </a>
        </div>
        <div class="box1-one">
            <a href="#">
                <h3>
                    <ion-icon name="fast-food-outline"></ion-icon>
                    Services
                </h3>
            </a>
        </div>
    </section>
</header>

<main>
    <div class="main">
        <h1>Car hire for any kind of trip</h1>
        <h3 style="color: white">
            Great deals at great prices, from the biggest car hire companies
        </h3>
    </div>

    <form th:action="@{/car/get-all-car}" method="get" class="search-form">
        <div class="center-form">
            <input class="input" type="date" name="startDate">
            <input class="input" type="date" name="endDate">
            <button type="submit" class="btn secondary">Search</button>
        </div>
    </form>
</main>

<div class="car-container">
    <div class="card-car" th:each="car : ${cars}">
        <div class="car-card-container">
            <img th:src="${car.image}" alt="img" class="car-container-img">
        </div>
        <br/>
        <h3 th:text="${car.name}" class="car-container-text"></h3>
        <br/>

        <h5 th:text="${'produced - ' + car.manufacturedDate }" class="car-container-text"></h5>
        <h5 th:text="${'daily price - ' + car.dailyPrice}" class="car-container-text"></h5>
        <h5 th:text="${'info - ' + car.description}" class="car-container-text"></h5>

        <div class="collapse" sec:authorize="isAnonymous()">
            <button class="toggleButton">Rent</button>
            <p style="display: none" class="">
                siz roxatdan otmagasiz
                <a class="element-style" href="">roxhatdan otish </a>
            </p>
        </div>

        <form sec:authorize="isAuthenticated()" th:action="@{/rental/rent}" method="post">
            <input type="hidden" name="email" th:value="${#authentication.name}">
            <input type="hidden" name="carId" th:value="${car.id}">
            <input type="hidden" name="startDate" th:value="${param.get('startDate')}">
            <input type="hidden" name="endDate" th:value="${param.get('endDate')}">
            <button class="toggleButton-two" style="
             background-color: #006ce4;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 25px;
        margin-top: 13px;



        ">Rent
            </button>
        </form>
    </div>
</div>
</body>
<script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

<script>

    function addRemoveActiveClass() {
        const toggleButtons = document.getElementsByClassName("toggleButton");

        const toggleButtonsArray = Array.from(toggleButtons);

        toggleButtonsArray.forEach((button) => {
            button.addEventListener("click", () => {
                button.classList.toggle("active");
            });
        });
    }

    addRemoveActiveClass();
</script>
</html>